html {
    font-size: 62.5%;
    letter-spacing: 1.4;
}

.container {
    font-size: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

ul > li {
    padding: 10rem 0;
    background-color: orangered;
}

li:hover {
    color: black;
    margin: 10rem;
    background-color: red;
}