//////////////////////
//MEDIA QUERIES
$bp-largest: 75em; // 1200px
$width: 100em;
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px

//////////////////////
//COLORS
:root {
    --primary: rgb(24, 113, 187);
    --primary-light: rgb(30, 101, 160);
    --primary-dark: #173F5F;

    --grey-light-1: #faf9f9;
    --grey-light-2: #f4f2f2;
    --grey-light-3: #f0eeee;
    --grey-light-4: #ccc;

    --grey-dark-1: #333;
    --grey-dark-2: #777;
    --grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba($color: #000000, $alpha: .06);

    --grey-border: 1px solid var(--grey-light-2);
}

//////////////////////
//SVG-FILL
$light-fill: --grey-light-3;
$dark-fill: --grey-dark-3;

//////////////////////
//GLOBAL PROPERTIES
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1.6 rem, 16px

    @media only screen and (max-width: $bp-large){
        font-size: 50%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--grey-dark-2);
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to bottom right, var(--primary-light), var(--primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
